.site-header{
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 0.5px solid #bebebe ;
    & a{
        color: #1e1a17;
    }
}

.site-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navigation__list{
    display: flex;
    margin: 0;
    padding: 0;
    > li {
        list-style: none;
        margin: 0 15px;
        font-weight: 500;
    }
}

.site-header__actions{
    display: flex;
    align-items: center;
    gap: 0.5rem;    
    > a {
        padding: 10px 15px;
        display: block;
        cursor: pointer;
        border-radius: 8px;
        color: #b23a2b;
        font-weight: 700;
        border: 2px solid #b23a2b;
    }
}